<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"/>
<html>
<head>
    <meta charset="UTF-8">

    <link th:href="@{/jquery/bootstrap_3.3.0/css/bootstrap.min.css}" type="text/css" rel="stylesheet"/>
    <script type="text/javascript" th:src="@{/jquery/jquery-1.11.1-min.js}"></script>
    <script type="text/javascript" th:src="@{/jquery/bootstrap_3.3.0/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/vue.js}"></script>
    <script type="text/javascript" th:src="@{/js/axios.min.js}"></script>

    <script type="text/javascript">

        //默认情况下取消和保存按钮是隐藏的
        var cancelAndSaveBtnDefault = true;

        $(function () {
            $("#remark").focus(function () {
                if (cancelAndSaveBtnDefault) {
                    //设置remarkDiv的高度为130px
                    $("#remarkDiv").css("height", "130px");
                    //显示
                    $("#cancelAndSaveBtn").show("2000");
                    cancelAndSaveBtnDefault = false;
                }
            });

            $("#cancelBtn").click(function () {
                //显示
                $("#cancelAndSaveBtn").hide();
                //设置remarkDiv的高度为130px
                $("#remarkDiv").css("height", "90px");
                cancelAndSaveBtnDefault = true;
            });

            $(".remarkDiv").mouseover(function () {
                $(this).children("div").children("div").show();
            });

            $(".remarkDiv").mouseout(function () {
                $(this).children("div").children("div").hide();
            });

            $(".myHref").mouseover(function () {
                $(this).children("span").css("color", "red");
            });

            $(".myHref").mouseout(function () {
                $(this).children("span").css("color", "#E6E6E6");
            });
        });

    </script>

</head>
<body>

<!-- 修改市场活动备注的模态窗口 -->
<div class="modal fade" id="editRemarkModal" role="dialog">
    <%-- 备注的id --%>
    <input type="hidden" id="remarkId" v-model.trim="editForm.id">
    <div class="modal-dialog" role="document" style="width: 40%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">修改备注</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label for="edit-describe" class="col-sm-2 control-label">内容</label>
                        <div class="col-sm-10" style="width: 81%;">
                            <textarea class="form-control" rows="3" id="noteContent"
                                      v-model.trim="editForm.noteContent"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" ref="closeEditModel">关闭</button>
                <button type="button" class="btn btn-primary" id="updateRemarkBtn"
                        @click="updateActivityRemark">更新
                </button>
            </div>
        </div>
    </div>
</div>


<!-- 返回按钮 -->
<div style="position: relative; top: 35px; left: 10px;">
    <a href="javascript:void(0);" onclick="window.history.back();"><span class="glyphicon glyphicon-arrow-left"
                                                                         style="font-size: 20px; color: #DDDDDD"></span></a>
</div>

<!-- 大标题 -->
<div style="position: relative; left: 40px; top: -30px;">
    <div class="page-header">
        <h3><span th:text="'市场活动-' + ${activity.name} +' '"></span><small
                th:text="${activity.startDate}+' ~ '+${activity.endDate}">2020-10-10 ~ 2020-10-20</small></h3>
    </div>

</div>

<br/>
<br/>
<br/>

<!-- 详细信息 -->
<div style="position: relative; top: -70px;">
    <div style="position: relative; left: 40px; height: 30px;">
        <div style="width: 300px; color: gray;">所有者</div>
        <div style="width: 300px;position: relative; left: 200px; top: -20px;"><b th:text="${activity.owner}"></b></div>
        <div style="width: 300px;position: relative; left: 450px; top: -40px; color: gray;">名称</div>
        <div style="width: 300px;position: relative; left: 650px; top: -60px;"><b th:text="${activity.name}"></b></div>
        <div style="height: 1px; width: 400px; background: #D5D5D5; position: relative; top: -60px;"></div>
        <div style="height: 1px; width: 400px; background: #D5D5D5; position: relative; top: -60px; left: 450px;"></div>
    </div>

    <div style="position: relative; left: 40px; height: 30px; top: 10px;">
        <div style="width: 300px; color: gray;">开始日期</div>
        <div style="width: 300px;position: relative; left: 200px; top: -20px;"><b th:text="${activity.startDate}"></b>
        </div>
        <div style="width: 300px;position: relative; left: 450px; top: -40px; color: gray;">结束日期</div>
        <div style="width: 300px;position: relative; left: 650px; top: -60px;"><b th:text="${activity.endDate}"></b>
        </div>
        <div style="height: 1px; width: 400px; background: #D5D5D5; position: relative; top: -60px;"></div>
        <div style="height: 1px; width: 400px; background: #D5D5D5; position: relative; top: -60px; left: 450px;"></div>
    </div>
    <div style="position: relative; left: 40px; height: 30px; top: 20px;">
        <div style="width: 300px; color: gray;">成本</div>
        <div style="width: 300px;position: relative; left: 200px; top: -20px;"><b th:text="${activity.cost}"></b></div>
        <div style="height: 1px; width: 400px; background: #D5D5D5; position: relative; top: -20px;"></div>
    </div>
    <div style="position: relative; left: 40px; height: 30px; top: 30px;">
        <div style="width: 300px; color: gray;">创建者</div>
        <div style="width: 500px;position: relative; left: 200px; top: -20px;"><b th:text="${activity.createBy}"></b>&nbsp;&nbsp;<small
                style="font-size: 10px; color: gray;" th:text="${activity.createTime}"></small></div>
        <div style="height: 1px; width: 550px; background: #D5D5D5; position: relative; top: -20px;"></div>
    </div>
    <div style="position: relative; left: 40px; height: 30px; top: 40px;">
        <div style="width: 300px; color: gray;">修改者</div>
        <div style="width: 500px;position: relative; left: 200px; top: -20px;"><b th:text="${activity.editBy}">无</b>&nbsp;&nbsp;<small
                style="font-size: 10px; color: gray;" th:text="${activity.editTime}">无</small></div>
        <div style="height: 1px; width: 550px; background: #D5D5D5; position: relative; top: -20px;"></div>
    </div>
    <div style="position: relative; left: 40px; height: 30px; top: 50px;">
        <div style="width: 300px; color: gray;">描述</div>
        <div style="width: 630px;position: relative; left: 200px; top: -20px;">
            <b th:text="${activity.description}">
            </b>
        </div>
        <div style="height: 1px; width: 850px; background: #D5D5D5; position: relative; top: -20px;"></div>
    </div>
</div>

<!-- 备注 -->
<div id="remarkModel" style="position: relative; top: 30px; left: 40px;">
    <div class="page-header">
        <h4>备注</h4>
    </div>
    <div th:each="remark:${remarkList}" class="remarkDiv" style="height: 60px;">
        <img th:attr="title=${remark.createBy},src=@{/image/user-thumbnail.png}" style="width: 30px; height:30px;">
        <div style="position: relative; top: -40px; left: 40px;">
            <h5 th:text="${remark.noteContent}"></h5>
            <font color="gray">市场活动</font> <font color="gray">-</font> <b th:text="${activity.name}"></b> <small
                style="color: gray;"
                th:text="${remark.editFlag}=='1'?${remark.editTime}+ ' 由 ' +${remark.editBy} + ' 修改':${remark.createTime}+ ' 由 ' +${remark.createBy}+' 创建'"></small>
            <div style="position: relative; left: 500px; top: -30px; height: 30px; width: 100px; display: none;">
                <a class="myHref" data-toggle="modal" data-target="#editRemarkModal"
                   th:@click="|queryActivityRemark('${remark.id}')|"><span class="glyphicon glyphicon-edit"
                                                                           style="font-size: 20px; color: #E6E6E6;"></span></a>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <a class="myHref" th:@click="|deleteActivityRemark('${remark.id}')|"><span
                        class="glyphicon glyphicon-remove"
                        style="font-size: 20px; color: #E6E6E6;"></span></a>
            </div>
        </div>
    </div>
    <div id="remarkDiv" style="background-color: #E6E6E6; width: 870px; height: 90px;">
        <form role="form" style="position: relative;top: 10px; left: 10px;">
            <input type="hidden" th:value="${activity.id}" ref="activityId"/>
            <textarea id="remark" class="form-control" style="width: 850px; resize : none;" rows="2"
                      placeholder="添加备注..." ref="activityNote"></textarea>
            <p id="cancelAndSaveBtn" style="position: relative;left: 737px; top: 10px; display: none;">
                <button id="cancelBtn" type="button" class="btn btn-default">取消</button>
                <button type="button" class="btn btn-primary" @click="createNewRemark">保存</button>
            </p>
        </form>
    </div>
</div>
<div style="height: 200px;"></div>

<script type="text/javascript">
    let editRemarkModal = new Vue({
        el: "#editRemarkModal",
        data() {
            return {
                editForm: {
                    id: "",
                    noteContent: ""
                },
                curRemarkNote: ""
            }
        },
        methods: {
            updateActivityRemark: function () {
                let note = this.editForm.noteContent;
                if (note == null || note == '') {
                    alert("备注不能为空");
                    return;
                }
                if (note == this.curRemarkNote) {
                    alert("备注没有更新");
                    return;
                }

                axios({
                    headers: {
                        "Content-Type": "application/json;charset=UTF-8"
                    },
                    method: 'post',
                    dataType: 'json',
                    url: '/CRM/workbench/activity/updateActivityReMark.do',
                    data: JSON.stringify(this.editForm)
                }).then((res) => {
                    if (res.data.code == '1') {
                        this.$refs.closeEditModel.click();
                        window.location.href = "/CRM/workbench/activity/queryActivityDetail/" + remarkModel.$refs.activityId.value;
                    } else {
                        alert(res.data.message);
                    }
                })
            }
        }
    });
    let remarkModel = new Vue({
        el: "#remarkModel",
        methods: {
            //根据Id查询备注
            queryActivityRemark: function (id) {
                axios({
                    headers: {
                        "Content-Type": "application/json;charset=UTF-8"
                    },
                    method: 'post',
                    dataType: 'json',
                    url: '/CRM/workbench/activity/queryActivityReMark.do',
                    data: {
                        remarkId: id
                    }
                }).then((res) => {
                    editRemarkModal.curRemarkNote = res.data.noteContent;
                    editRemarkModal.editForm.id = res.data.id;
                    editRemarkModal.editForm.noteContent = res.data.noteContent;
                })
            },

            //删除市场活动备注
            deleteActivityRemark: function (id) {
                axios({
                    headers: {
                        "Content-Type": "application/json;charset=UTF-8"
                    },
                    method: 'post',
                    dataType: 'json',
                    url: '/CRM/workbench/activity/deleteActivityRemark.do',
                    data: {
                        remarkId: id
                    }
                }).then((res) => {
                    if (res.data.code == '1') {
                        window.location.href = "/CRM/workbench/activity/queryActivityDetail/" + this.$refs.activityId.value;
                    } else {
                        alert(res.data.message);
                    }
                })
            },

            //新建市场活动备注
            createNewRemark: function () {
                let activityId = this.$refs.activityId.value;
                let activityNote = this.$refs.activityNote.value;

                if (activityNote == null || activityNote == '') {
                    alert("备注内容不能为空");
                    return;
                }

                axios({
                    headers: {
                        "Content-Type": "application/json;charset=UTF-8"
                    },
                    method: 'post',
                    dataType: 'json',
                    url: '/CRM/workbench/activity/createActivityRemark.do',
                    data: {
                        noteContent: activityNote,
                        activityId: activityId
                    }
                }).then((res) => {
                    if (res.data.code == '1') {
                        window.location.href = "/CRM/workbench/activity/queryActivityDetail/" + activityId;
                    } else {
                        alert(res.data.message);
                    }
                })
            }
        }
    })
</script>
</body>
</html>