<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fj.crm.workbench.mapper.ClueActivityRelMapper" >
    <!--批量插入线索和市场活动关系-->
    <insert id="insertClueAndActivityRelationship">
        INSERT INTO tbl_clue_activity_relation
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.id},#{item.clueId},#{item.activityId})
        </foreach>
    </insert>

    <!--根据线索Id和市场活动Id删除关系-->
    <delete id="deleteClueActivity">
        DELETE FROM tbl_clue_activity_relation
        WHERE clue_id = #{arg0}
        AND activity_id = #{arg1}
    </delete>
</mapper>